@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Example Razor Page</h1>
    <h2>by Jessica Leach</h2>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <p>
            <input type="text" required="true" />
        </p>
        <p>
            <input type="email" required="true" />
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</div>
