@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Example Razor Page</h1>
    <h2>by Jessica Leach</h2>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <p>
            <label>Full Name:</label>
            <input type="text" asp-for="Fullname" required="true" />
        </p>
        <p>
            <label>Email Address:</label>
            <input type="email" asp-for="Email" required="true" />
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
    <p>
        @if(!String.IsNullOrEmpty(Model.Email))
        {
            <span>Thank You @Model.Fullname for registering </span>
        }
    </p>
</div>
